<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="img-container">
        <img alt="Background Image" src="~/img/home8.JPG" decoding="async" data-nimg="fill" >
        <div class="image-overlay">
            <h1 class="app-title">MindfulEase</h1>
            <p class="app-description">Your journey to better mental health starts here.</p>
        </div>
    </div>
</body>
</html>
