@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindfulEase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MindfulEase.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MindfulEase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated){
                                // Verifică dacă utilizatorul este autentificat
                                var currentUser = User.Identity.IsAuthenticated ? _userManager.GetUserAsync(User).Result : null;

                                if (currentUser != null && !string.IsNullOrEmpty(currentUser.FirstName))
                                {
                                // Dacă utilizatorul are FirstName setat
                                    <a class="nav-link" href="/ApplicationUsers/Show/@currentUser.Id">Profile</a>
                                }
                                else
                                {
                                    // Dacă utilizatorul nu are profil complet
                                    <a class="nav-link" href="/ApplicationUsers/New">Profile</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Therapists</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Diaries" asp-action="New">Diary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Routines" asp-action="Index">Resources</a>
                            </li>
                            <li class="nav-item-dropdown dropdown">
                                <a class="nav-link dropdown-toggle" style="border: none; -webkit-text-stroke: 0px white;"  id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Activities</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: linear-gradient(45deg, #a1c5ff, #d1dfff, #b0e3e6, #f2c4d4);">
                                    <li><a class="dropdown-item" style="color:white; " asp-area="" asp-controller="TherapeuticGames" asp-action="Index">Games & Quizzes</a></li>
                                    <li><a class="dropdown-item" style="color:white" asp-area="" asp-controller="WeeklyChallenges" asp-action="Index">Weekly Challenges</a></li>
                                </ul>
                            </li>


                            
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Routines" asp-action="SeeMore">Resources</a>
                            </li>
                        }

                    </ul>
                    @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link nav-logo" asp-controller="Dashboard" asp-action="Index">
                            <img src="~/img/chart-pie.png" id=logo alt="TLC Logo" style="vertical-align: middle; height: 25px; margin-right:-9px; margin-top:-3px;" />
                            </a>
                            <a class="nav-link nav-logo" asp-controller="Notifications" asp-action="Index">
                            <img src="~/img/bell3.png" id=logo alt="TLC Logo" style="vertical-align: middle; height: 33px; margin-left:0px; margin-right: 0px" />
                            </a>
                            
                        }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MindfulEase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


