@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<style>
    .btn-gradient {
        background: linear-gradient(to right, #4facfe, #00f2fe);
        border: none;
        color: white;
        transition: 0.3s ease-in-out;
    }

        .btn-gradient:hover {
            opacity: 0.9;
            transform: scale(1.01);
        }

</style>
<div class="container min-vh-100">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px; border-radius: 30px;">
        <h3 class="text-center mb-4">@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-gradient">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
